@font-face {
    font-family: Roboto;
    font-weight: 700; 
    font-style: normal;
    src:
    url('/fonts/Roboto-Black.ttf') format('truetype')
    
}

@font-face {
    font-family: Roboto;
    font-weight: 400; 
    font-style: normal;
    src:
    url('/fonts/Roboto-Bold.ttf') format('truetype')
    
}